@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Exa:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "flowbite/plugin";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-lexend-deca: "Lexend Deca", sans-serif;
    --font-lexend-exa: "Lexend Exa", sans-serif; 
    --color-analyse: #B91735;
    --color-planung: #EA8712;
    --color-durchfuehrung: #3CAA36;
    --color-auswertung: #2E86BA;
}

@layer components {

    BODY {
        @apply bg-white;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        
        @variant dark {
            @apply bg-neutral-900;
            background-image: unset;
        }
    }

    .bg-loginpage-beta {
        @apply bg-gradient-to-br from-gray-50 via-gray-100 to-red-50;
            
        @variant dark {
            @apply bg-gradient-to-br from-neutral-900 via-neutral-800 to-red-900;
            background-image: unset;
        }
    }

    .bg-loginpage {
        @apply bg-[url('https://cms1.etz-stuttgart.de/skin/ueba/img/bg/light.jpg')] bg-cover;
        
        @variant dark {
            @apply bg-[url('https://cms1.etz-stuttgart.de/skin/ueba/img/bg/dark.jpg')];    
        }
    }

    h1 {
        @apply text-4xl font-bold tracking-tight text-neutral-900;
        @variant dark {
            @apply text-white;
        }
    }

    .wrapper.container {
        @apply shadow-lg border-1 border-neutral-200;

        @variant dark {
            @apply border-neutral-700;
        }
    }

    .bg-primary {
        /* @apply bg-white; */
        @apply bg-neutral-100;

        @variant dark {
            @apply bg-neutral-800;
        }
    }

    .text-primary {
        @apply text-gray-800;

        @variant dark {
            @apply text-white;
        }
    }

    .fill-primary {
        @apply fill-gray-800;

        @variant dark {
            @apply fill-white;
        }
    }

    .stroke-primary {
        @apply stroke-gray-800;

        @variant dark {
            @apply stroke-white;
        }
    }

    .stroke-secondary {
        @apply stroke-neutral-700;

        @variant dark {
            @apply stroke-neutral-400;
            @apply hover:stroke-neutral-100;
        }
    }

    .bg-actionarea-secondary {
        @apply bg-neutral-200 hover:bg-gray-200 hover:shadow;

        @variant dark {
            @apply bg-neutral-600;
            @apply hover:bg-neutral-500;
        }
    }
    
    .divide-secondary {
        @apply divide-neutral-300;

        @variant dark {
            @apply divide-neutral-600;
        }
    }
    
    .border-secondary {
        @apply border-neutral-200;

        @variant dark {
            @apply border-neutral-600;
        }
    }

    .border-secondary-active {
        @apply border-red-600;

        @variant dark {
            @apply border-red-500;
        }
    }

    .bg-secondary {
        @apply bg-gray-200;

        @variant dark {
            @apply bg-neutral-600;
        }
    }

    .bg-subnav {
        @apply bg-neutral-300;

        @variant dark {
            @apply bg-neutral-700;
        }
    }

    .border-subnav {
        @apply border-neutral-300;

        @variant dark {
            @apply border-neutral-500;
        }
    }

    .text-secondary {
        @apply text-gray-600;

        @variant dark {
            @apply text-neutral-300;
            @apply hover:text-neutral-100;
        }
    }

    .fill-secondary {
        @apply fill-gray-600;

        @variant dark {
            @apply fill-neutral-300;
        }
    }

    .btn-primary {
        @apply bg-gray-100 inline-flex py-2 px-3 rounded-full text-black items-center cursor-pointer shadow-sm;
        @apply hover:bg-white hover:shadow-md focus:outline-none;
        @apply focus:bg-neutral-200;

        @variant dark {
            @apply bg-neutral-700 text-white;
            @apply hover:bg-neutral-600;
        }
    }

    .btn-secondary {
        @apply bg-red-600 text-white text-sm py-2 px-3 rounded-2xl transition uppercase cursor-pointer font-medium shadow-md;
        @apply hover:bg-red-700 hover:shadow-lg;
        @apply focus:bg-red-800 focus:text-white;

        @variant dark {
            @apply bg-red-700 shadow-md text-white;
            @apply hover:bg-red-600 hover:text-white;
        }
    }

    .form-btn {
        @apply py-2 px-3 flex text-neutral-600 items-center cursor-pointer;
        @apply border-2 border-neutral-500 hover:bg-neutral-100 focus:outline-none;
        @apply focus:bg-neutral-200;

        @variant dark {
            @apply bg-neutral-700 text-white;
            @apply hover:bg-neutral-600;
        }
    }

    .form-text-primary {
        @apply bg-gray-100 inline-flex py-2 px-3 rounded-lg text-black items-center shadow-sm;
        @apply hover:bg-white hover:shadow-md focus:outline-none;
        @apply focus:bg-neutral-200 font-medium placeholder:italic;

        @variant dark {
            @apply bg-neutral-700 text-white;
            @apply hover:bg-neutral-600 focus:bg-neutral-200 focus:text-gray-800;
        }
    }

    .kundenauftrag-form-text {
        @apply w-full bg-white inline-flex py-3 px-4 rounded text-black items-center shadow-sm transition duration-500 ease-in-out transform leading-tight font-medium;
        @apply border border-neutral-200 placeholder:font-normal;
        @apply focus:outline-none focus:border-gray-600;

        @variant dark {
            @apply bg-neutral-600 text-white;
            @apply border-neutral-600;
            @apply hover:bg-neutral-600 focus:border-neutral-300 placeholder:text-neutral-400;
        }
    }

    .kundenauftrag_textarea_html > ul {
        @apply mx-8 py-2;
    }

    .kundenauftrag_table_wrap table {
        @apply w-full text-sm text-left my-10;

        thead {
            @apply border-b-1 border-neutral-300 font-medium;

            @variant dark {
                @apply border-neutral-500;
            }

            th {
                @apply px-6 py-3;
            }
        }

        tbody {
            td {
                @apply px-6 py-3;
            }
        }

        tfoot {
            @apply font-bold;
            td {
                @apply px-6 py-3 text-right;
            }
        }
    }

    .contentarea {
        p {
            @apply mb-3;
        }
        .toggletextcontent {
            @apply cursor-pointer mt-2 underline;
        }
    }

    .infobox {
        @apply w-full rounded-2xl shadow-md;

        .kachelliste_headline {
            @apply text-center text-2xl p-4 md:px-10 xl:px-15 font-bold border-b-1 border-neutral-300 shadow rounded-t-2xl w-full relative;
            @variant dark {
                @apply border-neutral-500;
            }
        }

        .kachelliste_headline.inactiveAccordion {
            @apply rounded-b-2xl shadow-none border-b-0;
        }
        .kachelliste_headline.activeAccordion {
            @apply rounded-b-none;
        }

        .kachelliste {
            @apply divide-y divide-neutral-300 rounded-b-2xl;
            @variant dark {
                @apply divide-neutral-700;
            }
        }
        .kachelliste > p,
        .kachelliste > div {
            @apply py-3.5 px-15 shadow-xs relative;
        }
        .kachelliste > p:last-child,
        .kachelliste > div:last-child {
            @apply shadow-none;
        }
        .kachelliste_icon {
            @apply divide-y divide-neutral-300 font-medium rounded-b-2xl;
            @variant dark {
                @apply divide-neutral-700;
            }
        }
        .kachelliste_icon > * {
            @apply flex items-start shadow-xs py-3 pr-5;
        }
        .kachelliste_icon > *:last-child {
            @apply shadow-none;
        }

        .linksliste p::before {
            @apply absolute left-5 top-4 inline size-5 bg-contain bg-no-repeat bg-[url(https://cms1.etz-stuttgart.de/skin/ueba/img/icons/next.svg)];
            content: '';
        }
    }
    .dark .linksliste p::before {
        @apply bg-[url(https://cms1.etz-stuttgart.de/skin/ueba/img/icons/next-light.svg)];
    }

    .btn_content {
        @apply flex items-center w-fit mx-auto hover:shadow-md shadow-sm rounded-4xl p-4;
    }

    .quizwrap {
        @apply mt-4 lg:my-12;
    
        .quizicon {
            @apply w-fit mx-auto bg-neutral-600 p-5 lg:px-10 xl:py-8 xl:px-20 rounded-t-2xl;
            @variant dark {
                @apply bg-white;
            }

            svg {
                @apply fill-white dark:fill-black size-10 lg:size-14 xl:size-20;
            }
        }
        .quizbox {
            @apply shadow bg-neutral-100 rounded-2xl border-10 border-neutral-600 dark:border-white border-l-0 border-r-0 overflow-hidden;

            @variant dark {
                @apply bg-neutral-800;
            }

            .quizheader {
                @apply bg-gray-200 text-center text-xl font-medium shadow pt-6 pb-5 px-5 sm:px-10 lg:px-20 xl:px-32 flex;

                @variant dark {
                    @apply bg-neutral-600;
                }
                svg {
                    @apply fill-neutral-600 size-6;

                    @variant dark {
                        @apply fill-white;
                    }
                }
            }
            h3 {
                @apply text-center pt-6 lg:pt-12 px-5 sm:px-10 lg:px-20 xl:px-32 font-bold text-2xl;
            }
            .quizoptions {
                @apply flex flex-wrap gap-5 py-6 lg:py-12 px-5 sm:px-10 lg:px-20 xl:px-32;

                .quizradio {
                    @apply flex items-center py-4 px-8 space-x-3 bg-white rounded-2xl shadow-sm;
                    @apply border-2 border-neutral-200;

                    @variant dark {
                        @apply bg-neutral-700 border-neutral-600;
                    }

                    input[type=radio] {
                        @apply mr-7 text-gray-900 translate-y-px size-8 border-4 border-neutral-400 focus:ring-2 focus:ring-offset-2 focus:ring-neutral-600 dark:ring-neutral-200  dark:accent-white dark:text-white;
                    }

                    > span {
                        @apply relative flex flex-col text-left space-y-1.5 leading-none;
                    }
                }
                .quizradio.disabled {
                    .wrong-radio {
                        @apply text-red-700 border-red-600 bg-red-600;
                    }
                }
                .quizradio:not(.disabled) {
                    @apply cursor-pointer hover:border-neutral-400 hover:shadow-md hover:dark:bg-neutral-800;
                }
                .quizradio.active {
                    @apply border-neutral-600;

                    @variant dark {
                        @apply border-white;
                    }
                }
                .quizcheck {
                    @apply flex items-center py-4 px-8 space-x-3 bg-white dark:bg-neutral-700 rounded-2xl shadow-sm cursor-pointer relative;
                    @apply border-2 border-neutral-200;
                    
                    input[type=checkbox] {
                        @apply mr-7 text-gray-900 translate-y-px size-8 border-4 border-neutral-400 focus:ring-2 focus:ring-offset-2 focus:ring-transparent dark:bg-transparent dark:focus:ring-transparent dark:focus:ring-offset-0 dark:accent-black dark:text-black text-2xl;
                    }
                    > span {
                        @apply relative flex flex-col text-left space-y-1.5 leading-none;
                    }
                }
                .quizcheck:not(.disabled) {
                    @apply cursor-pointer hover:shadow-md hover:border-neutral-700;
                    @variant dark {
                        @apply hover:border-neutral-200;
                    }
                }
                .wrong-checkbox:checked::before {
                    @apply text-white w-full h-full absolute bg-black text-center text-2xl/6 font-bold;
                    content: "✕";               /* dein Kreuzsymbol */
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .quizcheck.active {
                    @apply border-neutral-800;

                    @variant dark {
                        @apply border-white;
                    }
                }
            }
            #formelements {
                @apply flex flex-wrap gap-5 pb-6 lg:pb-12 px-5 sm:px-10 lg:px-20 xl:px-32;
                .btn-auswerten {
                    @apply rounded-4xl text-lg font-bold bg-neutral-600 dark:bg-neutral-300 text-white dark:text-neutral-800 px-10 py-3 cursor-pointer;
                }
                .btn-gesamtauswertung {
                    @apply rounded-4xl font-semibold text-neutral-400 dark:text-neutral-400 px-10 py-3 cursor-pointer xl:ml-auto;
                    @apply border-2 border-neutral-300 dark:border-neutral-400;
                    @apply hover:bg-neutral-300 hover:text-neutral-600;
                }
            }
            .quiz_wc_content {
                @apply pt-6 lg:pt-12 px-5 sm:px-10 lg:px-20 xl:px-32 font-bold text-2xl;

                * {
                    @apply w-fit mx-auto;
                }
            }
            .quiz_auswertung {
                @apply pt-6 px-5 sm:px-10 lg:pt-12 lg:px-20 xl:px-32;

                p {
                    @apply font-medium text-xl my-5;
                }
            }
        }
    }

    .carouselwrap {
        @apply relative w-full;

        .carousel_logo {
            @apply right-5 top-5 absolute z-50 w-fit bg-white/50 rounded-2xl p-4;

            img {
                @apply h-20 2xl:h-24;
            }
        }

        .carousel_beruf_img {
            @apply w-full h-full object-cover object-center rounded-b-2xl sm:rounded-2xl;
        }

        .carousel_beruf_capture {
            @apply absolute inset-0 rounded-b-2xl sm:rounded-2xl shadow-[inset_0_0_300px_rgba(0,0,0,0.5)] pointer-events-none flex;

            h2 {
                @apply mt-auto mb-3 px-10 xl:px-14 pb-5 sm:p-7 break-all;
                @apply text-3xl md:text-4xl  2xl:text-7xl;
                @apply md:leading-12 lg:leading-14 2xl:leading-24;
                @apply font-medium font-lexend-exa text-shadow-lg/20 text-white;
            }
        }
    }
}