@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {

    BODY {
        /* @apply bg-neutral-100;
        background-image:
            radial-gradient(farthest-corner at 76% 14%, rgb(244, 244, 245) 0%, transparent 76%),
            radial-gradient(farthest-corner at 90% 79%, rgb(252, 231, 243) 0%, transparent 11%),
            radial-gradient(farthest-corner at 8% 10%, rgb(241, 245, 249) 0%, transparent 38%),
            radial-gradient(farthest-corner at 57% 14%, rgb(168, 162, 158) 0%, transparent 2%),
            radial-gradient(farthest-corner at 44% 33%, rgb(229, 231, 235) 0%, transparent 84%),
            radial-gradient(farthest-corner at 60% 46%, rgb(203, 213, 225) 0%, transparent 59%); */
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        
        @variant dark {
            @apply bg-neutral-900;
            background-image: unset;
        }
    }

    .bg-loginpage {
        @apply bg-[url('https://cmsred.etz-stuttgart.de/skin/ueba_v3/img/bg/light.jpg')] bg-cover;
        
        @variant dark {
        @apply bg-[url('https://cmsred.etz-stuttgart.de/skin/ueba_v3/img/bg/dark.jpg')];    
        }
    }

    h1 {
        @apply text-2xl;
    }

    .wrapper.container {
        @apply shadow-lg border-1 border-neutral-200;

        @variant dark {
            @apply border-neutral-700;
        }
    }

    .bg-primary {
        /* @apply bg-white; */
        @apply bg-neutral-100;

        @variant dark {
            @apply bg-neutral-800;
        }
    }

    .text-primary {
        @apply text-gray-800;

        @variant dark {
            @apply text-white;
        }
    }

    .fill-primary {
        @apply fill-gray-800;

        @variant dark {
            @apply fill-white;
        }
    }

    .stroke-primary {
        @apply stroke-gray-800;

        @variant dark {
            @apply stroke-white;
        }
    }

    .stroke-secondary {
        @apply stroke-neutral-700;

        @variant dark {
            @apply stroke-neutral-400;
            @apply hover:stroke-neutral-100;
        }
    }

    .bg-actionarea-secondary {
        @apply bg-neutral-200 hover:bg-gray-200 hover:shadow;

        @variant dark {
            @apply bg-neutral-600;
            @apply hover:bg-neutral-500;
        }
    }
    
    .border-secondary {
        @apply border-neutral-200;

        @variant dark {
            @apply border-neutral-600;
        }
    }

    .bg-secondary {
        @apply bg-gray-200;

        @variant dark {
            @apply bg-neutral-600;
        }
    }

    .bg-subnav {
        @apply bg-neutral-300;

        @variant dark {
            @apply bg-neutral-700;
        }
    }

    .border-subnav {
        @apply border-neutral-300;

        @variant dark {
            @apply border-neutral-500;
        }
    }

    .text-secondary {
        @apply text-gray-600;

        @variant dark {
            @apply text-neutral-300;
            @apply hover:text-neutral-100;
        }
    }

    .btn-primary {
        @apply bg-gray-100 inline-flex py-2 px-3 rounded-4xl text-black items-center cursor-pointer shadow-sm;
        @apply hover:bg-white hover:shadow-md focus:outline-none;
        @apply focus:bg-neutral-200;

        @variant dark {
            @apply bg-neutral-700 text-white;
            @apply hover:bg-neutral-600;
        }
    }

    .btn-secondary {
        @apply bg-neutral-500 text-white text-sm py-2 px-3 rounded-4xl transition uppercase cursor-pointer font-medium shadow-md;
        @apply hover:bg-neutral-600;
        @apply focus:bg-neutral-800 focus:text-white;

        @variant dark {
            @apply bg-neutral-600 shadow-md text-neutral-200;
            @apply hover:bg-white hover:text-neutral-600;
        }
    }

    .form-btn {
        @apply bg-gray-100 py-2 px-3 flex text-black items-center cursor-pointer shadow-sm rounded;
        @apply hover:bg-white hover:shadow-md focus:outline-none;
        @apply focus:bg-neutral-200;

        @variant dark {
            @apply bg-neutral-700 text-white;
            @apply hover:bg-neutral-600;
        }
    }

    .form-text-primary {
        @apply bg-gray-100 inline-flex py-2 px-3 rounded-lg text-black items-center shadow-sm;
        @apply hover:bg-white hover:shadow-md focus:outline-none;
        @apply focus:bg-neutral-200 font-medium placeholder:italic;

        @variant dark {
            @apply bg-neutral-700 text-white;
            @apply hover:bg-neutral-600 focus:bg-neutral-200 focus:text-gray-800;
        }
    }

    .kundenauftrag-form-text {
        @apply w-full bg-white inline-flex py-3 px-4 rounded text-black items-center shadow-sm transition duration-500 ease-in-out transform leading-tight font-medium;
        @apply border border-neutral-200 placeholder:font-normal;
        @apply focus:outline-none focus:border-gray-600;

        @variant dark {
            @apply bg-neutral-700 text-white;
            @apply border-neutral-600;
            @apply hover:bg-neutral-600 focus:bg-neutral-700 focus:border-neutral-300;
        }
    }

    .bg_analyse_strong {
        @apply bg-[#E3DDED]; }
    .bg_analyse_light {
        @apply bg-[#F6F4F9];
        @variant dark {
            @apply bg-[#F6F4F9]/90 text-black;
        }
        .fill-primary {
            @apply fill-black;
        }
    }
    .bg_planung_strong {
        @apply bg-[#DFEBEF]; }
    .bg_planung_light {
        @apply bg-[#F0F5F7];
        @variant dark {
            @apply bg-[#F0F5F7]/90 text-black;
        }
        .fill-primary {
            @apply fill-black;
        }
    }
    .bg_durchfuehrung_strong {
        @apply bg-[#E3F0DF]; }
    .bg_durchfuehrung_light {
        @apply bg-[#EFF6ED];
        @variant dark {
            @apply bg-[#EFF6ED]/90 text-black;
        }
        .fill-primary {
            @apply fill-black;
        }
    }
    .bg_auswertung_strong {
        @apply bg-[#E6D5DE]; }
    .bg_auswertung_light {
        @apply bg-[#F6EDF2];
        @variant dark {
            @apply bg-[#F6EDF2]/90 text-black;
        }
        .fill-primary {
            @apply fill-black;
        }
    }

    .kachelliste_headline {
        @apply text-center p-4 text-2xl font-bold border-b-1 border-neutral-300 shadow rounded-t-2xl w-full relative;
        @variant dark {
            @apply border-neutral-500;
        }
    }

    .kachelliste_headline.inactiveAccordion {
        @apply rounded-b-2xl shadow-none border-b-0;
    }
    .kachelliste_headline.activeAccordion {
        @apply rounded-b-none;
    }

    .kachelliste {
        @apply divide-y divide-neutral-300 font-medium rounded-b-2xl;
        @variant dark {
            @apply divide-neutral-700;
        }
    }
    .kachelliste > div {
        @apply py-4 px-15 shadow-xs;
    }
    .kachelliste > div:last-child {
        @apply shadow-none;
    }
    .kachelliste_icon {
        @apply divide-y divide-neutral-300 font-medium rounded-b-2xl;
        @variant dark {
            @apply divide-neutral-700;
        }
    }
    .kachelliste_icon > div {
        @apply flex items-start shadow-xs py-3 pr-5;
    }
    .kachelliste_icon > div:last-child {
        @apply shadow-none;
    }
}